.coin {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.penny {
  height: 40px;
  width: 40px;
  background-color: #6b2b25;
}

.nickel {
  height: 50px;
  width: 50px;
  background-color: silver;
}

.dime {
  height: 34px;
  width: 34px;
  background-color: silver;
}

.quarter {
  height: 60px;
  width: 60px;
  background-color: silver;
}

#challenge3 p {
  background-color: dimgray;
  color: white;
  border: 1px solid dimgray;
  border-radius: 10px;
  padding: 10px 20px 10px 8px;
  width: 125px;
}
